.env
.env.test
# Node.js
node_modules/

.cache/

.tern-port

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Tailwind CSS
tailwind.config.js
postcss.config.js
year.js

# Build output
dist/
build/

# Other
.DS_Store
.env


