# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

tailwind.config.js
postcss.config.js

.env
.DS_Store
.cache

.*

!.gitignore

# Ignore specific files

hidden.txt
mybusiness.txt

